@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: "#000000";
  background: "#ffffff";
  overflow: visible;
}
@layer base {
  html,
  body {
    @apply text-black font-normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: #002c1f;
}
.strokeWhite {
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: #ffffff;
}
.strokeGreen {
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: #46af4e;
}
.strokeYellow {
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: #fd961e;
}
.strokeYellowOne {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: #fd961e;
}
