@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/teq3ary.css");

@layer base {
  .menu-list {
    @apply flex flex-row items-center justify-between w-max;
  }

  .menu-item {
    @apply text-base font-bold mx-5;
  }

  .menu-item:last-child {
    @apply mr-0;
  }

  .line-decor::before {
    content: "";
    position: absolute;
    @apply md:h-10 h-6 w-[3px] rounded-full md:top-2 top-1 left-0;
  }

  .line-decor.blue::before {
    @apply bg-blue;
  }

  .line-decor.green::before {
    @apply bg-green;
  }


  .navbar,
  .mobile-nav {
    transition: all 0.3s ease-in-out;
  }

  .active-line {
    content: "";
    position: absolute;
    background: #f7bd58;
    height: 8px;
    width: 8px;
    bottom: 15px;
    left: 75px;
    right: 0;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
  }

  .mobile-nav .button {
    height: 25px;
    width: 25px;
    position: relative;
    transform: translateZ(0);
  }
  /* cccccccccccccccccccccccccccccccccccc*/
  .menu {
    height: 100vh;
    position: fixed;
  }
  .innermenu {
    min-height: 100vh !important;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu .logotext {
    color: #ffffff;
    transition-delay: 0.25s;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .overflowClass {
    overflow: hidden;
  }

  .menu .logoimage {
    opacity: 0;
    pointer-events: none;
  }

  .menu .menuitems {
    opacity: 1;
    transition-delay: 0.25s;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: visible;
    max-height: calc(100vh - 8rem);
  }

  .mobile-nav .button span {
    height: 2px;
    display: block;
    background-color: #fd961e;
    position: relative;
    transition: all 0.5s;

    top: 0;
    /* margin: 5px 0; */
    transform: translateZ(0);
    color: inherit;
    /* background: currentColor; */
    transition: top 0.3s 0.3s, transform 0.3s;
  }
  .mobile-nav .button span:first-child {
    -webkit-animation: topr 0.75s;
    animation: topr 0.75s;
    transform-origin: top center;
    transform-box: fill-box;
  }
  .mobile-nav .button span:last-child {
    -webkit-animation: bottomr 0.75s;
    animation: bottomr 0.75s;
    transform-origin: bottom center;
    transform-box: fill-box;
  }
  @keyframes ini {
    0% {
      transform: rotateZ(45deg);
    }
    500% {
      transform: rotateZ(30deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }
  @keyframes inib {
    0% {
      transform: rotateZ(-45deg);
    }
    500% {
      transform: rotateZ(-30deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }
  .mobile-nav .button span:first-child {
    margin-bottom: 5px;
  }
  .mobile-nav .button span:last-child {
    margin-top: 5px;
  }

  .mobile-nav.hide2 {
    @apply -top-52 pointer-events-none;
  }
  .mobile-nav.hide2 .icon-toogle {
    @apply -top-52 pointer-events-none;
  }

  .icon-toogle.open button.menuspan span:first-child {
    -webkit-animation: top 0.75s;
    animation: top 0.75s;
    top: 4px;
    transform: rotateZ(45deg) scaleX(1);
    transition-duration: 0s, 0s;
    transition: all 0.5s;
    animation-fill-mode: forwards;
  }

  .icon-toogle.open button.menuspan span:last-child {
    -webkit-animation: bottom 0.75s;
    animation: bottom 0.75s;
    top: -3px;
    transform: rotateZ(-45deg) scaleX(1);
    transition-duration: 0s, 0s;
    transition: all 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes top {
    0% {
      opacity: 1;
      transform: rotatez(0) scaleX(1);
      transform-origin: left center;
      top: 0px;
      left: 0px;
    }

    30% {
      opacity: 1;
      transform: rotatez(0) scaleX(0);
      top: 0px;
      left: 0px;
    }
    30.1% {
      opacity: 0;
      transform: rotatez(0) scaleX(0);
      top: 0px;
      left: 0px;
    }
    31% {
      opacity: 1;
      transform: rotatez(45deg) scaleX(0);
      top: -5px;
      left: 3px;
    }
    80%,
    100% {
      opacity: 1;
      transform: rotatez(45deg) scaleX(1);
      transform-origin: left center;
      top: -5px;
      left: 3px;
    }
  }

  @keyframes bottom {
    0% {
      opacity: 1;
      transform: rotate(0) scaleX(1);
      transform-origin: right center;
      top: 0px;
      left: 0px;
    }
    50% {
      opacity: 1;
      transform: rotate(0) scaleX(0);
      top: 0px;
      left: 0px;
    }
    50.1% {
      opacity: 0;
      transform: rotate(0) scaleX(0);
      top: 0px;
      left: 0px;
    }
    51%,
    55% {
      opacity: 1;
      transform: rotate(-45deg) scaleX(0);
      top: -12px;
      left: -4px;
    }
    80%,
    100% {
      opacity: 1;
      transform: rotate(-45deg) scaleX(1);
      transform-origin: right center;
      top: -12px;
      left: -4px;
    }
  }

  @keyframes topr {
    0% {
      opacity: 1;
      transform: rotatez(45deg) scaleX(1);
      transform-origin: left center;
      top: -5px;
      left: 3px;
    }

    30% {
      opacity: 1;
      transform: rotatez(45deg) scaleX(0);
      top: -5px;
      left: 3px;
    }
    31% {
      opacity: 1;
      transform: rotatez(0deg) scaleX(0);
      top: 0px;
      left: 0px;
    }
    100% {
      opacity: 1;
      transform: rotatez(0deg) scaleX(1);
      transform-origin: left center;
      top: 0px;
      left: 0px;
    }
  }

  @keyframes bottomr {
    0% {
      opacity: 1;
      transform: rotate(-45deg) scaleX(1);
      transform-origin: right center;
      top: -12px;
      left: -4px;
    }
    50% {
      opacity: 1;
      transform: rotate(-45deg) scaleX(0);
      top: -12px;
      left: -4px;
    }
    51%,
    55% {
      opacity: 1;
      transform: rotate(0deg) scaleX(0);
      top: 0px;
      left: 0px;
    }
    80%,
    100% {
      opacity: 1;
      transform: rotate(0deg) scaleX(1);
      transform-origin: right center;
      top: 0px;
      left: 0px;
    }
  }

  .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 47;
    background: rgb(0 0 0 / 50%);
    transform-origin: right center;
    transition: all 0.5s ease;
  }
  .menu-fill {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 49;
    height: 100vh;
    transform-origin: right center;
    transition: all 0.5s ease;
    background: rgba(0, 0, 0, 0.4);
    animation: gradient 5s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .menu-items {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    height: 100vh;
    overflow: auto;
    transform-origin: top center;
    transition: all 0.5s ease;
    transform: translateX(50px);
  }

  .show {
    animation: show 0.8s cubic-bezier(0, 0.65, 0.27, 1);
    animation-fill-mode: forwards;
  }
  .hide {
    animation: hide 0.5s ease;
    animation-fill-mode: forwards;
    /* animation-direction: reverse; */
  }
  @keyframes show {
    0% {
      transform: translate3d(0px, 0px, 0px) scale(0, 1);
    }
    /* 50% {
    transform: translate3d(0px, 0px, 0px) scale(0.5, 1);
  }
  70% {
    transform: translate3d(0px, 0px, 0px) scale(0.7, 1);
  } */
    /* 90% {
    transform: translate3d(0px, 0px, 0px) scale(0.9, 1);
  } */
    /* 85% {
    transform: translate3d(0px, 0px, 0px) scale(0.95, 1);
  } */
    /* 98% {
    transform: translate3d(0px, 0px, 0px) scale(0.99, 1);
  } */
    100% {
      transform: translate(0px, 0px);
    }
  }
  @keyframes hide {
    0% {
      transform: translate(0px, 0px);
    }
    /* 50% {
    transform: translate3d(0px, 0px, 0px) scale(0.5, 1);
  } */
    /* 80% {
    transform: scale(0.3, 1);
  }
  99% {
    transform: scale(0.1, 1);
  } */
    100% {
      transform: translate3d(0px, 0px, 0px) scale(0, 1);
    }
  }

  .showback {
    animation: showb 0.4s ease-in;
    animation-fill-mode: forwards;
  }
  .hideback {
    animation: hideb 0.2s ease;
    animation-fill-mode: forwards;
    /* animation-direction: reverse; */
  }
  @keyframes showb {
    0% {
      /* transform: translate3d(0px, 0px, 0px) scale(0, 1); */
      opacity: 0;
    }
    100% {
      /* transform: translate(0px, 0px) scale(1, 1); */
      opacity: 1;
    }
  }
  @keyframes hideb {
    0% {
      /* transform: scale(1, 1); */
      opacity: 1;
    }
    100% {
      /* transform: scale(0, 0); */
      opacity: 0;
    }
  }

  .showmenu {
    animation: showmenu 0.6s cubic-bezier(0, 0.55, 0.37, 1);
    animation-fill-mode: forwards;
  }
  .hidemenu {
    opacity: 0;
    /* animation: hidemenu 0.5s ease;
  animation-fill-mode: forwards; */
  }
  @keyframes showmenu {
    0% {
      /* transform: translate3d(0px, 0px, 0px) scale(0, 1); */
      opacity: 0;
    }
    /* 50% {
    transform: translate3d(0px, 0px, 0px) scale(0.4, 1);
    opacity: 0;
  } */
    50% {
      /* transform: translate3d(0px, 0px, 0px) scale(0.8, 1); */
      /* transform: translate(0px, 0px); */
      opacity: 0;
      transform: translateX(50px);
    }
    60% {
      opacity: 0.2;
    }
    70% {
      opacity: 0.4;
    }
    80% {
      opacity: 0.6;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateX(0px);
      /* opacity: 1; */
    }
  }
  @keyframes hidemenu {
    /* 0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  50% {
    transform: scale(0.4, 1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0, 1);
    opacity: 0;
  } */
    0% {
      /* transform: scale(1, 1); */
      opacity: 1;
    }
    /* 50% {
    transform: translate3d(0px, 0px, 0px) scale(0.5, 1);
  } */
    80% {
      /* transform: scale(0.3, 1); */
    }
    99% {
      /* transform: scale(0.1, 1); */
    }
    100% {
      opacity: 0;
      /* transform: scale(0, 0); */
    }
  }
}
